.cell:hover {
    background-color: rgb(182, 182, 182);
}

.filled {
    background-color: #00008B;
}

.weakWall {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    border: solid;
    border-width: thin;
    color: #00008B;
}

.bomb {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    border: solid;
    border-width: thin;
    border-color: grey;
    color: black;
}

.start {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    border: solid;
    border-width: thin;
    border-color: grey;
    color: green;
}

.end {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    border: solid;
    border-width: thin;
    border-color: grey;
    color: red;
}

.animate.pop {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
}
  
@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.animate1.pop1 {
    animation-name: animate1-pop1;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
}
  
@keyframes animate1-pop1 {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}