.header {
    margin: 0;
    padding: 0;
}

.configBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #414141;
}

.configBar > * {
    height: fit-content;
    margin: 1rem;
}