.graph {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[id^="row"] {
    /* color: green; */
    /* border: solid; */
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}